<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Memes</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <link rel="icon" type="image/png" href="">
  <style>
  body{
    background-image: url("images/corgi.gif");
    background-size: cover;
  }
  </style>
}

</head>

<body>
    <div class="container">
      <div class="row">
       <h1 style = "text-align:center;">Title</h1>
      </div>  
    <form>
        <div class="row" 
        >
          <div class="four columns">
              <label for="alivestatus">r u ded?:</label>
              <select class="u-full-width" id="alivestatus">
                <option value="">Select...</option>
                <option value="Option 1">Yes</option>
                <option value="Option 2">No</option>
              </select>
          </div>

          <div class="four columns">
            <label for="disease">Disease:</label>
            <input class="u-full-width" type="search" placeholder="search..." list="dieseses" id="disease">
            
            <datalist id="dieseses">
              <option value="Internet Explorer">
              <option value="Cancer">
              <option value="Bananas">
              <option value="Memes">
              <option value="Rick and Morty">
            </datalist>
                
          </div>
         
          <div class="four columns">
              <label for="racesearch">Race:</label>
              <input class="u-full-width" type="search" placeholder="search..." list="race" id="racesearch">
              
              <datalist id="race">
                <option value="Islam">
                <option value="Bananas">
                <option value="Black">
                <option value="Asian">
                <option value="Rick and Morty">
              </datalist>
          </div>
        </div>
        <div class="row">

          <div class="four columns">
              <label for="from">From:</label>
              <input class="u-fill-width" type="date" id="from" style="width:100%">
          </div>

          <div class="four columns">
              <label for="to">To:</label>
              <input class="u-fill-width" type="date" id="to" style="width:100%">
          </div>
          <div class ="four columns">
            <input class="button-primary" type="submit" value="Find Invalids" style="width:100%;margin-top:9.5%">
          </div>
        </div>      
      </form>
      <div class = "row">
          <img class="u-full-width" src="images/USmap.svg" alt="Fat people"> 
      </div>
      
    </div>
</body>
</html>
